.aboutus__footer{
    text-align: center;
    min-height: 4rem;
    font-size: 1.6rem;
    color: #aaaaaa;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.aboutus_footer p{
    flex:0;
}
#ourservices-page .aboutus__footer{
    border: solid 2px #f1f1f1;
    border-left: 0;
    border-right: 0;
}