.container{
    max-width: 1100px;
    margin: 0 auto;
    width: 80%;
    @include mobile{
        width: 86%;
    }
}
.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}